<div class="posts-wrapper">
	<div class="post">
		<%= location_img_select(location) %><br>
		Name: <%= link_to location.name, location_path(location) %><br>
		Address: <%= location.address %><br>
		Category: <%= location.category %><br>
		Phone Number: <%= location.phone_number %><br>

		<div class="bottom-container">
			<div class="row">
				<div class="col-lg-6">
					<div class = "post-footer">
						<div class="name">
							<span class="glyphicon glyphicon-user"></span> <%= link_to location.user.user_name, profile_path(location.user.user_name) %>
						</div>
						<div class="time-ago">
							<span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words location.created_at %> ago
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="votes">
						Votes: <%= location.get_upvotes.size - location.get_downvotes.size %> | 

						<%= link_to like_location_path(location), method: :put do %>
						<span class="glyphicon glyphicon-arrow-up"></span> 屌
						<% end %>
						|
						<%= link_to dislike_location_path(location), method: :put do %>
						<span class="glyphicon glyphicon-arrow-down"></span> 土
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>