<div class="posts-wrapper">
	<div class="post">
		Name: <%= link_to location.name, location_path(location) %><br>
		Address: <%= location.address %><br>
		Category: <%= location.category %><br>
		Phone Number: <%= location.phone_number %><br>
		<div class="name">
			Posted by: <%= location.user.user_name %>
		</div>

		Votes: <%= location.get_upvotes.size - location.get_downvotes.size %> | 

		<%= link_to like_location_path(location), method: :put do %>
		赞
		<% end %>
		|
		<%= link_to dislike_location_path(location), method: :put do %>
		不赞
		<% end %>
	</div>
</div>