<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "French Laundry Project", root_path %>
      </div>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to "New Location", new_location_path %>
        </li>
        <li>
          <%= link_to "Logout (" + current_user.user_name + ")", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "登录", new_user_session_path %>
        </li>
        <li>
          <%= link_to "注册", new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
</nav>